<h1>Edit Favorite #<%= @favorite.id %></h1>

<form action="/favorites/<%= @favorite.id %>/update">
  <div>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" value="<%= @favorite.name %>">
  </div>

  <div>
    <label for="url">URL:</label>
    <input id="url" name="url" type="text" value="<%= @favorite.url %>">
  </div>

  <input type="submit">
</form>
