<h1>Add a new Favorite</h1>

<form action="/create_favorite">
  <div>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">
  </div>

  <div>
    <label for="url">URL:</label>
    <input id="url" name="url" type="text">
  </div>

  <input type="submit">
</form>
